<div class="container">
    <div class="h3 bottomMarginDefault">Access Denied</div>
    <div class="text bottomMarginSmall">You've not enough rights to view the requested page</div>

    <div class="text">If this isn't correct, please contact us.</div>
</div>